@font-face {
  font-family: 'NotCourier';
  src: url(../fonts/NotCourierSans.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SelectMono';
  src: url(../fonts/SelectMono-Italic.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biro';
  src: url(../fonts/BiroScriptreduced.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  background: #E5DAC6;
  color: #000000;
  box-sizing: border-box;
  font-family: 'NotCourier';
  font-style: normal;
  overflow-x: hidden;
  z-index: -1;
}

/* GENERAL */
a {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1%;
  background: #E5DAC6;
  border: 8px outset #e9dfce;
}

a:active {
  background: #aca394;
  border: 8px inset #E5DAC6;
  mix-blend-mode: darken;
}

h1 {
  font-family: 'SelectMono';
  font-size: 20px;
  font-weight: normal;
  padding: 0;
  margin-top: 5%;
}

h2, .h2 {
  display: inline;
  font-family: 'NotCourier';
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: 'NotCourier';
  font-size: 16px;
  padding-right: 5%;
  padding-left: 5%;
}

p.question{
  text-transform: uppercase;
}

ul{
  font-family: 'NotCourier';
  font-size: 16px;
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
}

li{
  margin-left:10px;
}

/* DESKTOP */
nav.mobile {
  display: none;
}

nav.desktop {
  display: flex;
  position: fixed;
  height: 100vh;
  z-index: 99;
}

.row {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 0;
  width: 200px;
}

.row>* {
  flex: 1 100%;
}

#lang{
  position: fixed;
  right: 0;
  z-index: 99;
  height: calc(100%/8);
}

a img {
  justify-content: center;
  align-self: center;
  height: 75px;
}

a img[alt*="RSVP"], a img[alt*="language"]{
  height: 50px;
}

.icon {
  position: relative;
  margin-top: 5%;
  width: 15vmax;
  padding: 5px;
}

.content {
  position: relative;
  margin-left: 200px;
  z-index: 97;
}

.content.desktop{
  display: block;
} 

.content.mobile{
  display: none;
}

section {
  text-align: center;
  align-items: center;
}

h2 {
  display: flex;
  padding-left: 5%;
}

.section-content {
  background: #ffffff;
  border: #000000 1px solid;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  /* margin-top: 3%; */
}

.section-content img{
  width: 80%;
  border: 1px #000000 solid;
}

.spacer.desktop {
  position: fixed;
  bottom: 0;
  right:0;
  display: inline;
  width: 100vmax;
  z-index: 98;
}

.spacer.mobile {
  display: none;
}

section#intro{
  position: relative;
  text-align: center;
  height: 80vh;
  transform: rotate(-1deg);
}

section#location p{
  text-align: left;
}

.letter{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 17vh;
}

.letter p{
  position: relative;
  text-align: center;
  font-family: 'Biro';
  font-size: 24px;
  z-index: 99;
}

.letter img{
  display: block;
  position: absolute;
  top: 10vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  z-index: 96;
  width: 550px;
}

.link{
  display: inline;
  padding: initial;
  background: initial;
  border: initial;
}

.link:active{
  background: none;
  border: none;
  mix-blend-mode: none;
  font-style: italic;
  padding: 0;
}

.link.external{
  color: #1100ff;
}

.link.internal{
  color: #000000;
  text-decoration: dashed underline #000000;
}

.section-table{
  display: flex;
  justify-content: center;
}

table{
  width: 85%;
  margin-bottom: 5%;
}

table, th{
  border: 1px #000000 solid;
  border-collapse: collapse;
}

th{
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
}

thead tr{
  text-align: right;
}

thead th{
  font-weight: bolder;
}

th:nth-child(1){
  width: 5%;
}

th:nth-child(2){
  text-align: left;
}

.table-time{
  font-family: 'SelectMono';
  font-weight: lighter;
  font-size: 14px;
}

#schedule {
  background: #c4c4e7;
}

#location {
  background: #b8e4cb;
}

#lodging{
  background: #F0C7C7;
}

#faq{
  background: #D6D6D6;
}

#gift{
  background: #EFE9A8;
}

#outreach{
  background: #CADBF9;
}

#rsvp{
  background: #F2D5EB;
}

/* MOBILE */
@media screen and (max-width: 1000px),
screen and (max-width: 1000px) and (max-height: 700px) {
  nav.desktop, a.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    top: 0;
    position: sticky;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    z-index: 100;
    overflow: hidden;
  }

  .row {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
  }

  .row>* {
    flex: 1 100%;
  }

  .content {
    position: relative;
    top: 50%;
    margin: 0;
  }

  .content.mobile{
  display:block;
}

  .content.desktop{
    display:none;
  }

  section {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
  }

  a img, a img[alt*="RSVP"], a img[alt*="language"]{
    position: relative;
    height: 5vw;
  }

  .icon {
    position: relative;
    margin-top: 5%;
    width: 40%;
    padding: 5px;
  }

  .section-content {
    text-align: center;
    background: #ffffff;
    border: #000000 1px solid;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  h1 {
    font-family: 'SelectMono';
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin-top: 25px;
  }

  p {
    text-align: center;
    font-family: 'NotCourier';
    font-size: 16px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
  }

  .spacer.mobile {
    position: relative;
    display: block;
    z-index: 99;
  }

  .spacer.desktop {
    display: none;
  }

  #schedule,
  #location,
  #lodging,
  #faq,
  #gift,
  #outreach,
  #rsvp {
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
  }
}