@font-face {
  font-family: 'NotCourier';
  src: url(../fonts/NotCourierSans.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SelectMono';
  src: url(../fonts/SelectMono-Italic.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biro';
  src: url(../fonts/BiroScript-extended.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;

  scrollbar-color: #aca394 #E5DAC6;
}

body {
  margin: 0;
  padding: 0;
  background: #E5DAC6;
  color: #000000;
  box-sizing: border-box;
  font-family: 'NotCourier';
  font-style: normal;
  overflow-x: hidden;
  z-index: -1;

  scrollbar-width: none;
}

a {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1%;
  background: #E5DAC6;
  border: 8px outset #e9dfce;
}

a:active {
  background: #aca394;
  border: 8px inset #E5DAC6;
  mix-blend-mode: darken;
}

h1 {
  font-family: 'SelectMono';
  font-size: calc(1rem + 0.6vw); /* ~16px */
  font-weight: normal;
  padding: 0;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  ;
}

p {
  text-align: center;
  font-family: 'NotCourier';
  font-size: calc(1rem + 0.1vw); /* ~16px */
  padding-right: 5%;
  padding-left: 5%;
}

p.question {
  text-transform: uppercase;
}

ul {
  font-family: 'NotCourier';
  font-size: calc(1rem + 0.1vw); /* ~16px */
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
}

li {
  margin-left: 10px;
}

/* DESKTOP */
nav.mobile.large,
nav.mobile.small {
  display: none;
}

nav.desktop {
  display: flex;
  position: fixed;
  height: 100vh;
  z-index: 99;
}

.row {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 0;
  width: 175px;
}

.row>* {
  flex: 1 100%;
}

#lang {
  position: fixed;
  right: 0;
  z-index: 99;
  height: calc(100%/8);
}

.row a{
  cursor: pointer;
}

a img {
  justify-content: center;
  align-self: center;
  height: calc(40px + 2vh);
}

a img[alt*="RSVP"],
a img[alt*="language"] {
  height: calc(20px + 2vh);
}

.icon {
  position: relative;
  margin-top: 2vh;
  width: calc(100px + 5vw);
  padding: 5px;
}

.content-fixed {
  position: relative;
  margin-left: 175px;
  z-index: 97;
}

.popup{
  display: block;
  position: absolute;
  top: 10vh;
  left: 200px;
  width: calc(200px + 2vh);
  z-index: 99;
}

.popup p{
  position: absolute;
  top: 15px;
  left: 50px;
}

.popup a{
  all: inherit;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

.sign {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 50vw;
  padding: 0 0 4vh 0;
  z-index: 98;

  background: #ffffff;
  border: 1px #000000 solid;
}

.sign-legs {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 50vw;
}

.span-sign {
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  left: 90%;
  transform: translate(-90%);
  bottom: 0;
  width: 50vw;
  margin: 0;
  z-index: 99;
}

.leg {
  width: 50px;
  height: 25vh;
  background: white;
  border: 1px solid black;
  z-index: 95;
}

.leg.small {
  height: 40vh;
}

.leg.smaller {
  height: 50vh;
}

.leg.single {
  margin-left: 125px;
  width: 40px;
  height: 15vh;
  margin-top: -10px;
  z-index: 98;
}

#center {
  width: 50vw;
}

#schedule-sign {
  border-radius: 150px 150px 0 0;
}

#outreach-sign {
  border-radius: 100px 100px 0 0;
}

#location-sign, 
#faq-sign, 
#rsvp-sign {
  border-radius: 10px 10px 0 0;
}

.span-sign {
  display: block;
  width: 250px;
}

#sign-link {
  position: absolute;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 70px;
}

#mobile-link {
  display: none;
}

section {
  display: none;
  position: absolute;
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  right: 0;
  width: calc(100vw - 175px);
  text-align: center;
  align-items: center;
}

.section-desktop {
  display: flex;
}

.section-content {
  background: #ffffff;
  border: none;
  width: 93%;
  height: 55vh; /*40vh*/
  padding-bottom: calc(10px + 3%);
  margin-right: auto;
  margin-left: auto;
}

.section-content.small {
  height: 25vh;
}

.section-content.smaller {
  height: 15vh;
}

h2 {
  padding-left: 5%;
  padding-top: 2vh;
  font-family: 'NotCourier';
  font-size: calc(1rem + 0.1vw); /* ~16px */
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.para {
  border: #000000 1px solid;
  position: relative;
  overflow-y: scroll;
  height: inherit;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  scrollbar-color: #ffffff #ffffff;
}

.para img {
  margin-top: 2.5vh;
}

.section-content img {
  width: 80%;
  border: 1px #000000 solid;
}

.spacer.desktop {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline;
  width: 100vmax;
  z-index: 98;
}

.spacer.mobile-small, 
.spacer.mobile-smaller {
  display: none;
}

section#intro {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

section#location p {
  text-align: left;
}

section#location p:first-child {
  text-align: center;
}

.letter {
  filter: drop-shadow(-5px 3px 7px #16151350);
  z-index: 96;
}

.script-letter {
  display: none;
}

.link {
  display: inline;
  padding: initial;
  background: initial;
  border: initial;
}

.link:active {
  background: none;
  border: none;
  mix-blend-mode: none;
  font-style: italic;
  padding: 0;
}

.link.external {
  color: #1100ff;
}

.link.ref {
  color: #000000;
  text-decoration: dashed underline #000000;
}

.credit {
  color: #8b8479;
  font-size: calc(0.875rem + 0.1vw); /* ~14px */
}

.credit .link.ref {
  color: #8b8479;
  text-decoration: dashed underline #aca394;
}

.section-table {
  display: flex;
  justify-content: center;
}

table {
  width: 85%;
  margin-bottom: 5%;
}

table,
th {
  border: 1px #000000 solid;
  border-collapse: collapse;
}

th {
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
}

thead tr {
  text-align: right;
}

thead th {
  font-weight: bolder;
}

th:nth-child(1) {
  width: 5%;
}

th:nth-child(2) {
  text-align: left;
}

.table-time {
  font-family: 'SelectMono';
  font-weight: lighter;
  font-size: calc(0.875rem + 0.1vw);/* ~14px */
}

#cabin-img {
  overflow: hidden;
}

#cabin-img .image {
  position: relative;
  width: 60vmin;
  border: 1px solid black;
}

#cabin-img .para {
  border: none;
  overflow: scroll;
}

#intro {
  background-image: url('../assets/bg-intro.jpg');
  background-size: cover;
}

#schedule {
  background: #c4c4e7;
}

#location {
  background: #b8e4cb;
}

#lodging {
  background: #F0C7C7;
}

#faq {
  background: #D6D6D6;
}

#gift {
  background: #EFE9A8;
}

#outreach {
  background: #CADBF9;
}

#rsvp {
  background: #F2D5EB;
}

#footer {
  display: none;
}

/* MOBILE */
@media screen and (max-width: 1100px),
screen and (max-width: 1100px) and (max-height: 700px) {
  nav.desktop,
  nav.mobile.small,
  a.desktop {
    display: none;
  }

  nav.mobile {
    top: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
  }

  nav.mobile.large {
    display: flex;
    top: 0;
    flex-flow: row wrap;
    padding: 0;
    z-index: 100;
    overflow: hidden;
  }

  .popup{
    display: none;
  }

  .row {
    flex-direction: row;
    width: 100vw;
  }

  .row>* {
    flex: 1 100%;
  }

  .content-scroll {
    position: relative;
    top: 50%;
    margin: 0;
  }

  section {
    position: relative;
    width: 100vw;
    height: inherit;
    overflow-x: inherit;
    margin: 0;
    padding: 0;
  }

  .para {
    padding: 0 5px 5px 5px;
    position: relative;
    overflow: visible;
    height: inherit;
    border: none;
  }

  a img,
  a img[alt*="RSVP"],
  a img[alt*="language"] {
    position: relative;
    height: 5vw;
  }

  .icon {
    position: relative;
    margin-top: 5%;
    width: calc(125px + 15vw);
    padding: 5px;
  }

  .section-content {
    width: 80%;
    height: auto;
    padding-bottom: 5px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;

    background: #ffffff;
    border: #000000 1px solid;
  }

  .section-content.small, 
  .section-content.smaller  {
    height: inherit;
  }

  .letter {
    margin-top: 2vh;
  }

  .sign {
    width: 100vw;
    display: none;
    all: inherit;
  }

  .sign-legs,
  .span-sign {
    display: none;
  }

  #rsvp-sign {
    all: inherit;
  }

  .sign.small, .sign.smaller {
    margin: inherit;
  }

  #mobile-link {
    display: block;
  }

  #cabin-img .image {
    position: relative;
    width: 80vmin;
    border: 1px solid black;
  }

  h1 {
    font-size: calc(1.25rem + 0.3vw); /* ~20px */
    margin-top: calc(10px + 1.5vw);

  }

  h2 {
    padding-top: 2vh;
    font-size: calc(1.125rem + 0.1vw); /* ~18px */
  }

  p {
    font-size: calc(1rem + 0.1vw); /* ~16px */
  }

  .spacer.mobile-small {
    display: block;
    position: relative;
    width: 100vw;
    margin-top: 1vh;
    z-index: 99;
  }

  .spacer.desktop, .spacer.mobile-smaller {
    display: none;
  }

  #schedule,
  #location,
  #lodging,
  #faq,
  #gift,
  #outreach,
  #rsvp,
  #footer {
    display: block;
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
  }

  #intro {
    background-image: url('../assets/bg-intro.jpg');
    background-size: cover;
    /* background-position:  */
  }
}

@media screen and (max-width: 700px) {

  nav.desktop,
  nav.mobile.large {
    display: none;
  }

  nav.mobile.small {
    display: flex;
    top: 0;
    left: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    flex-flow: row wrap;
    padding: 0;
    z-index: 100;
  }

  nav img {
    filter: drop-shadow(0.5 0.5 0.5rem #1d1d1d);
  }

  #intro {
    background-image: url('../assets/letter-bg.jpg');
    background-size: cover;
    height: 100%;
  }

  .letter {
    display: none;
  }

  .script-letter {
    display: block;
  }

  .script-letter p {
    text-align: center;
    font-family: 'Biro';
    font-size: calc(1.5rem + 0.1vw); /* ~24px */
  }

  .spacer.desktop, 
  .spacer.mobile-small {
   display: none;
  }

  .spacer.mobile-smaller {
    display: block;
    position: relative;
    width: 100vw;
    margin-top: 1vh;
    z-index: 99;
   }

  img.spacer.mobile-smaller:first-of-type {
    background-color: #f9fafb;
  }
}